services:
  mp4-repair:
    build:
      context: ./orchestrator
    image: mp4-repair-orchestrator:latest
    container_name: mp4-repair
    restart: unless-stopped
    ports:
      - "8000:8000"

    # Uncomment below to use GPU (NVIDIA Container Toolkit)
    #
    # deploy:
    #  resources:
    #    reservations:
    #      devices:
    #        - capabilities: ["gpu"]
    #

    volumes:
      - ./data:/data

  php-web:
    build:
      context: ./php
      dockerfile: Dockerfile
    container_name: php-web
    restart: unless-stopped
    # HTTP server port (default is 8080)
    ports:
      - "8080:80"
    environment:
      API_BASE: http://mp4-repair:8000
      DATA_IN: /data/in
      DATA_OUT: /data/out
      PERMISSIVE_MODE: "1"
    volumes:
      - ./data:/data
    depends_on:
      - mp4-repair
